.sidebar {
    > div {
        width: inherit !important;
        height: calc(100vh - 64px);
        > ul {
            height: calc(100vh - 84px);
        }
    }
    .tab_link:hover .sub-menu-icon {
        opacity: 0 !important;
        transform: translateX(15px);
        -webkit-transform: translateX(15px);
        -moz-transform: translateX(15px);
        -ms-transform: translateX(15px);
        -o-transform: translateX(15px);
    }
}
